<div id="tbe-wrapper">
       <!-- <div id="btn-arrow" class="arrow-hide">
        </div>-->
        <div id="tbe-warning-bar" class="alert alert-danger" role="alert" style="display: none;">
            <span class="text-white">
                <strong>Chú ý:</strong> Sản phẩm vừa được cập nhật giá theo thuộc tính đã chọn, vui lòng kiểm tra lại thông tin!
            </span>
        </div>
        <div id="tbe-menubar" style="display: block;">
            <a title="datlaco.vn" target="_blank" href="https://datlaco.vn" style="float: left; display: block">
                <img id="tbe-logo" src="chrome-extension://bamanemigpmfkheegcgbppoimdoiikbh/app/assets/images/logo.png">
            </a>
            <span class="text-white">
                <img style="margin-bottom: -10px;" src="chrome-extension://bamanemigpmfkheegcgbppoimdoiikbh/app/assets/images/warning.png" />
            </span>
            <button id="tbe-btn-submit" class="btn btn-sm btn-danger bg-ed2328" type="button">
                <span class="bg-img-add"></span>Thêm vào giỏ hàng
            </button>
            <a id="tbe-btn-show-cart" class="btn btn-sm btn-default bg-transparent bd-white text-white" href="https://datlaco.vn/gio-hang" target="_blank" type="button">
                <span class="bg-img-cart">
                </span>
                <span class="number-product" id="total-product">0</span>
            </a>
        </div>
    </div>